<template>
  <q-page class="PageIndex">
    <div class="text-h1">Select Mode:</div>
    <div class="mode-select-wrapper">
      <div class="text-h1 mode-option"
           :class="{'isSelectingOption':(selectingOption === 'time keeping')}">Time Keeping</div>
      <div class="text-h1 mode-option"
           :class="{'isSelectingOption':(selectingOption === 'time telling')}">Time Telling</div>
      <div class="text-h1 mode-option"
           :class="{'isSelectingOption':(selectingOption === 'multiplication')}">Multiplication</div>
    </div>
  </q-page>
</template>

<style lang="sass" scoped>
.PageIndex
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.mode-select-wrapper
  width: 100%
  display: flex
  align-items: center
  flex-direction: row
.mode-option
  width: 80%
  margin-top: 3rem
  margin-bottom: 3rem
  text-align: center
.isSelectingOption
  border-style: solid
  border-color: red
  border-width: 5px
</style>

<script>
export default {
  name: "PageIndex",
  data() {
    return {
      modeOptions: ["time keeping", "time telling", "multiplication"],
      selectingOption: "time keeping"
    };
  },
  methods: {
    gotoPage(selectingOption) {
      switch (selectingOption) {
        case "time keeping":
          this.$router.push("timekeeping");
          break;
        case "time telling":
          this.$router.push("timetelling");
          break;
        case "multiplication":
          this.$router.push("multiplication");
          break;
        default:
          return;
      }
    },
    confirmSelect() {
      this.gotoPage(this.selectingOption);
    },
    moveSelect(keyCode) {
      if (keyCode === "ArrowLeft") {
        if (this.modeOptions.indexOf(this.selectingOption) === 0) {
          this.selectingOption = this.modeOptions[this.modeOptions.length - 1];
        } else {
          this.selectingOption = this.modeOptions[
            (this.modeOptions.indexOf(this.selectingOption) - 1) %
              this.modeOptions.length
          ];
        }
      } else {
        this.selectingOption = this.modeOptions[
          (this.modeOptions.indexOf(this.selectingOption) + 1) %
            this.modeOptions.length
        ];
      }
    },
    routeKeyUpAction(e) {
      switch (e.code) {
        case "Space":
          this.confirmSelect();
          this.talkUI("confirm");
          break;
        case "ArrowLeft":
          this.moveSelect(e.code);
          this.talkUI("select");
          break;
        case "ArrowRight":
          this.moveSelect(e.code);
          this.talkUI("select");
          break;
        default:
          return;
      }
    },
    speak(dialog = "", utteranceConfig = {}) {
      // Create an utterance object
      let utterance = new SpeechSynthesisUtterance(dialog);

      // Set utterance properties
      utterance.voice = voice;
      utterance.pitch = utteranceConfig.pitch || 1.5;
      utterance.rate = utteranceConfig.rate || 1.25;
      utterance.volume = utteranceConfig.volume || 0.8;

      // Speak the utterance
      synthesis.speak(utterance);
      console.log(dialog);
    },
    talkUI(option = "") {
      let dialog = "";

      if (option === "confirm") {
        dialog += `You are in ${this.selectingOption} mode now. `;
        if (this.selectingOption === "time keeping") {
          dialog += "Please press O K to get current time. ";
        } else {
          dialog += `You can use arrow keys to select. `;
          dialog += `You are selecting , start. Press O K to start. `;
        }
      }
      if (option === "select") {
        dialog += `You are selecting ${this.selectingOption} mode. Press O K to confirm. `;
      }
      this.speak(dialog);
    }
  },
  created() {
    window.addEventListener("keyup", this.routeKeyUpAction);
  },
  destroyed() {
    window.removeEventListener("keyup", this.routeKeyUpAction);
  }
};
</script>
