<template>
  <q-page class="Multiplication">
    <div class="screen menu"
         v-if="currentScreen === 'menu'">
      <div class="text-h1">Multiplication</div>
      <div class="select-wrapper">
        <div class="text-h1 mode-option"
             :class="{'isSelectingOption':(selectingOption === 'start')}">Start</div>
        <div class="text-h1 mode-option"
             :class="{'isSelectingOption':(selectingOption === 'back')}">Back</div>
      </div>
    </div>
    <div class="screen game"
         v-if="currentScreen === 'game'">
      <div class="text-h1">{{currentQuestion.firstNum}} X {{currentQuestion.secondNum}} = ?</div>
      <div class="select-wrapper">
        <div class="row">
          <div class="col-3"><span class="choice-label"
                  :class="{'isSelectingOption':(selectingOption === currentQuestion.choices[0])}">{{currentQuestion.choices[0]}}</span></div>
          <div class="col-3"><span class="choice-label"
                  :class="{'isSelectingOption':(selectingOption === currentQuestion.choices[1])}">{{currentQuestion.choices[1]}}</span></div>
          <div class="col-3"><span class="choice-label"
                  :class="{'isSelectingOption':(selectingOption === currentQuestion.choices[2])}">{{currentQuestion.choices[2]}}</span></div>
          <div class="col-3"><span class="choice-label"
                  :class="{'isSelectingOption':(selectingOption === currentQuestion.choices[3])}">{{currentQuestion.choices[3]}}</span></div>
        </div>
      </div>
    </div>
    <div class="report screen"
         v-if="currentScreen === 'report'">
      <div class="text-h1 result-label">{{(currentQuestion.isCorrect ? "Correct" : "Wrong")}}</div>
      <div class="text-h1 answer-label">{{currentQuestion.answer}}</div>
      <div class="select-wrapper">
        <div class="text-h1 mode-option"
             :class="{'isSelectingOption':(selectingOption === 'next')}">Next</div>
        <div class="text-h1 mode-option"
             :class="{'isSelectingOption':(selectingOption === 'home')}">Home</div>
      </div>
    </div>
  </q-page>
</template>

<style lang="sass" scoped>
.menu, .game, .report
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
.select-wrapper
  width: 100%
  display: flex
  align-items: center
  flex-direction: row
.mode-option
  width: 80%
  margin-top: 3rem
  margin-bottom: 3rem
  text-align: center
.isSelectingOption
  border-style: solid
  border-color: red
  border-width: 5px
.game.screen
  .select-wrapper
    .row
      width: 100%
      .col-3
        display: flex
        justify-content: center
.choice-label
  font-size: 4rem
</style>

<script>
export default {
  name: "Multiplication",
  data() {
    return {
      currentScreen: "menu",
      selectingOption: "start",
      options: {
        menu: ["start", "back"],
        report: ["next", "home"]
      },
      currentQuestion: {
        firstNum: 0,
        secondNum: 0,
        answer: 0,
        choices: ["", "", "", ""],
        userAnswer: 0,
        isCorrect: false
      }
    };
  },
  methods: {
    confirmSelect() {
      switch (this.selectingOption) {
        case "start":
          this.gotoScreen("game");
          break;
        case "back":
          this.gotoPage("/");
          break;
        case "next":
          this.gotoScreen("game");
          break;
        case "home":
          this.gotoPage("/");
          break;
        default:
          // for specific actions
          if (this.currentScreen === "game") {
            this.submitChoice();
          }
          return;
      }
    },
    moveSelect(keyCode) {
      let currentModeOptions = [];

      switch (this.currentScreen) {
        case "menu":
          currentModeOptions = this.options["menu"];
          break;
        case "game":
          currentModeOptions = this.currentQuestion.choices;
          break;
        case "report":
          currentModeOptions = this.options["report"];
          break;
        default:
          return;
      }
      if (keyCode === "ArrowLeft") {
        if (currentModeOptions.indexOf(this.selectingOption) === 0) {
          this.selectingOption =
            currentModeOptions[currentModeOptions.length - 1];
        } else {
          this.selectingOption =
            currentModeOptions[
              (currentModeOptions.indexOf(this.selectingOption) - 1) %
                currentModeOptions.length
            ];
        }
        console.log(this.selectingOption);
      } else {
        this.selectingOption =
          currentModeOptions[
            (currentModeOptions.indexOf(this.selectingOption) + 1) %
              currentModeOptions.length
          ];
      }
      // force selectingOption to string
      // this.selectingOption += "";
    },
    routeKeyUpAction(e) {
      switch (e.code) {
        case "Space":
          this.confirmSelect();
          this.talkUI("confirm");
          break;
        case "ArrowLeft":
          this.moveSelect(e.code);
          this.talkUI("select");
          break;
        case "ArrowRight":
          this.moveSelect(e.code);
          this.talkUI("select");
          break;
        default:
          return;
      }
    },
    gotoPage(url) {
      this.$router.push(url);
    },
    gotoScreen(screenName) {
      this.currentScreen = screenName;
      // specific actions for new screen
      switch (screenName) {
        case "game":
          this.startGame();
          break;
        default:
          // Default init the options array for new screen
          this.selectingOption = this.options[screenName][0];
      }
    },
    randomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    isIn(t, a) {
      return a.indexOf(t) !== -1;
    },
    generateQuestion() {
      this.currentQuestion.firstNum = this.randomInt(1, 10);
      this.currentQuestion.secondNum = this.randomInt(1, 10);
      this.currentQuestion.answer =
        this.currentQuestion.firstNum * this.currentQuestion.secondNum;
      // random the choices (for all four wrong answer)
      for (let i = 0; i < 4; i++) {
        let choice = this.currentQuestion.answer;

        while (
          choice === this.currentQuestion.answer ||
          this.isIn(choice + "", this.currentQuestion.choices)
        ) {
          choice = this.randomInt(1, 10) * this.randomInt(1, 10);
        }
        this.currentQuestion.choices[i] = choice + "";
      }
      // put the real answer into choices array randomly
      this.currentQuestion.choices[this.randomInt(0, 3)] =
        this.currentQuestion.answer + "";
    },
    startGame() {
      console.log("game start");
      this.generateQuestion();
      this.selectingOption = this.currentQuestion.choices[0];
      this.talkUI("started");
    },
    submitChoice() {
      this.currentQuestion.userAnswer = parseInt(this.selectingOption);
      this.currentQuestion.isCorrect =
        this.currentQuestion.userAnswer === this.currentQuestion.answer;
      this.gotoScreen("report");
      this.talkUI("report");
    },
    speak(dialog = "", utteranceConfig = {}) {
      // Create an utterance object
      let utterance = new SpeechSynthesisUtterance(dialog);

      // Set utterance properties
      utterance.voice = voice;
      utterance.pitch = utteranceConfig.pitch || 1.5;
      utterance.rate = utteranceConfig.rate || 1.25;
      utterance.volume = utteranceConfig.volume || 0.8;

      // Speak the utterance
      synthesis.speak(utterance);
      console.log(dialog);
    },
    talkUI(option = "") {
      let dialog = "";

      if (option === "select") {
        if (this.currentScreen === "menu" || this.currentScreen === "report") {
          dialog += `You are selecting , ${this.selectingOption}. Press O K to ${this.selectingOption}. `;
        } else if (this.currentScreen === "game") {
          dialog += `You are selecting , ${humanizeInt(
            this.selectingOption
          )}. Press O K to confirm. `;
        }
      } else if (option === "confirm") {
        if (
          this.selectingOption === "back" ||
          this.selectingOption === "home"
        ) {
          dialog += `You are back to the home page now. `;
          dialog += `You can use arrow keys to select. `;
          dialog += `You are selecting time keeping mode. Press O K to confirm. `;
        }
      } else if (option === "started") {
        dialog += `Game started. `;
        dialog += `Please answer the question by selecting the choice. `;
        dialog += `You can use arrow keys to select. `;
        dialog += `What is ${humanizeInt(
          this.currentQuestion.firstNum
        )} times ${humanizeInt(this.currentQuestion.secondNum)} ? `;
        dialog += `You are selecting , ${humanizeInt(
          this.selectingOption
        )}. Press O K to confirm. `;
      } else if (option === "report") {
        dialog += `You are ${
          this.currentQuestion.isCorrect ? "Correct" : "Worng"
        }. `;
        dialog += this.currentQuestion.isCorrect
          ? ""
          : `The correct answer is ${humanizeInt(
              this.currentQuestion.answer
            )}. `;
        dialog += `You can use arrow keys to select. `;
        dialog += `You are selecting , ${this.selectingOption}. Press O K to ${this.selectingOption}. `;
      }
      this.speak(dialog);
    }
  },
  created() {
    window.addEventListener("keyup", this.routeKeyUpAction);
  },
  destroyed() {
    window.removeEventListener("keyup", this.routeKeyUpAction);
  }
};
</script>
