<template>
  <q-page class="TimeKeeping">
    <div class="screen menu">
      <div class="text-h1">Time Keeping</div>
      <div class="text-h1 clock-label">{{this.toTimeString(this.currentTime.hour, this.currentTime.minute)}} {{this.currentTime.isAM ? 'a.m.' : 'p.m.'}}</div>
      <div class="select-wrapper">
        <div class="text-h1 mode-option"
             v-if="selectingOption === 'start'"
             :class="{'isSelectingOption':(selectingOption === 'start')}">Start</div>
        <div class="text-h1 mode-option"
             v-else
             :class="{'isSelectingOption':(selectingOption === 'back')}">Back</div>
      </div>
    </div>
  </q-page>
</template>

<style lang="sass" scoped>
.menu, .game, .report
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
.select-wrapper
  width: 100%
  display: flex
  align-items: center
  flex-direction: row
.mode-option
  width: 100%
  margin-top: 3rem
  margin-bottom: 3rem
  text-align: center
.isSelectingOption
  border-style: solid
  border-color: red
  border-width: 5px
.game.screen
  .select-wrapper
    .row
      width: 100%
      .col-3
        display: flex
        justify-content: center
.choice-label
  font-size: 4rem
</style>

<script>
export default {
  name: "TimeKeeping",
  data() {
    return {
      currentScreen: "menu",
      selectingOption: "start",
      options: {
        menu: ["start"]
      },
      currentTime: { hour: 0, minute: 0, isAM: true },
      isSaidTimeCountBuffer: 0
    };
  },
  methods: {
    confirmSelect() {
      switch (this.selectingOption) {
        case "start":
          this.gotoScreen("game");
          break;
        case "back":
          this.isSaidTimeCountBuffer++;
          this.gotoPage("/");
          break;
        case "next":
          this.gotoScreen("game");
          break;
        case "home":
          this.gotoPage("/");
          break;
        default:
          // for specific actions
          if (this.currentScreen === "game") {
            this.submitChoice();
          }
          return;
      }
    },
    moveSelect(keyCode) {
      let currentModeOptions = [];

      switch (this.currentScreen) {
        case "menu":
          currentModeOptions = this.options["menu"];
          break;
        case "game":
          currentModeOptions = this.currentQuestion.choices;
          break;
        case "report":
          currentModeOptions = this.options["report"];
          break;
        default:
          return;
      }
      if (keyCode === "ArrowLeft") {
        if (currentModeOptions.indexOf(this.selectingOption) === 0) {
          this.selectingOption =
            currentModeOptions[currentModeOptions.length - 1];
        } else {
          this.selectingOption =
            currentModeOptions[
              (currentModeOptions.indexOf(this.selectingOption) - 1) %
                currentModeOptions.length
            ];
        }
        console.log(this.selectingOption);
      } else {
        this.selectingOption =
          currentModeOptions[
            (currentModeOptions.indexOf(this.selectingOption) + 1) %
              currentModeOptions.length
          ];
      }
      // force selectingOption to string
      // this.selectingOption += "";
    },
    routeKeyUpAction(e) {
      switch (e.code) {
        case "Space":
          this.confirmSelect();
          this.talkUI("confirm");
          break;
        case "ArrowLeft":
          this.moveSelect(e.code);
          this.talkUI("select");
          break;
        case "ArrowRight":
          this.moveSelect(e.code);
          this.talkUI("select");
          break;
        default:
          return;
      }
    },
    gotoPage(url) {
      this.$router.push(url);
    },
    gotoScreen(screenName) {
      this.currentScreen = screenName;
      // specific actions for new screen
      switch (screenName) {
        case "game":
          this.startGame();
          break;
        default:
          // Default init the options array for new screen
          this.selectingOption = this.options[screenName][0];
      }
    },
    randomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    toTimeString(h, m) {
      return (h < 10 ? "0" : "") + h + ":" + (m < 10 ? "0" : "") + m;
    },
    toTimeObj(timeStr) {
      return {
        hour: parseInt(timeStr.split(":")[0]),
        minute: parseInt(timeStr.split(":")[1])
      };
    },
    isIn(t, a) {
      return a.indexOf(t) !== -1;
    },
    calTime(firstTime, sign, secondTime) {
      const answer = { hour: 0, minute: 0 };
      let isHourOverflow = false;
      let isMinuteOverflow = false;

      if (sign === "+") {
        answer.hour = firstTime.hour + secondTime.hour;
        answer.minute = firstTime.minute + secondTime.minute;
        isMinuteOverflow = answer.minute > 59;
        if (isMinuteOverflow) {
          answer.hour++;
          answer.minute -= 60;
        }
        isHourOverflow = answer.hour > 12;
        if (isHourOverflow) {
          answer.hour -= 12;
        }
      } else {
        answer.hour = firstTime.hour - secondTime.hour;
        answer.minute = firstTime.minute - secondTime.minute;
        isMinuteOverflow = answer.minute < 0;
        if (isMinuteOverflow) {
          answer.hour--;
          answer.minute += 60;
        }
        isHourOverflow = answer.hour < 1;
        if (isHourOverflow) {
          answer.hour += 12;
        }
      }
      return answer;
    },
    startGame() {
      const currentDate = new Date();
      //TODO: how about zero? (test in W3 ????)
      const isAM = currentDate.getHours() < 12;

      this.currentTime = {
        hour:
          isAM || currentDate === 12
            ? currentDate.getHours()
            : currentDate.getHours() - 12,
        minute: currentDate.getMinutes(),
        isAM
      };
      // TODO: start and tell time
      this.talkUI("started");
      // Set the option to "Back"
      this.selectingOption = "back";
      this.isSaidTimeCountBuffer++;
    },
    submitChoice() {
      //TODO: submit
      this.currentQuestion.userAnswer = this.toTimeObj(this.selectingOption);
      this.currentQuestion.isCorrect = this.isSameTime(
        this.currentQuestion.answer,
        this.currentQuestion.userAnswer
      );
      this.gotoScreen("report");
      this.talkUI("report");
    },
    speak(dialog = "", utteranceConfig = {}) {
      // Create an utterance object
      let utterance = new SpeechSynthesisUtterance(dialog);

      // Set utterance properties
      utterance.voice = voice;
      utterance.pitch = utteranceConfig.pitch || 1.5;
      utterance.rate = utteranceConfig.rate || 1.25;
      utterance.volume = utteranceConfig.volume || 0.8;

      // Speak the utterance
      synthesis.speak(utterance);
      console.log(dialog);
    },
    timeStrToDialog(timeStr) {
      return `${humanizeInt(this.toTimeObj(timeStr).hour)} ${humanizeInt(
        this.toTimeObj(timeStr).minute
      )}`;
    },
    talkUI(option = "") {
      let dialog = "";

      if (option === "select") {
        if (this.currentScreen === "menu" || this.currentScreen === "report") {
          dialog += `You are selecting , ${this.selectingOption}. Press O K to ${this.selectingOption}. `;
        } else if (this.currentScreen === "game") {
          dialog += `You are selecting , ${this.timeStrToDialog(
            this.selectingOption
          )}. Press O K to confirm. `;
        }
      } else if (option === "confirm") {
        // Brute force not double say back when press start
        if (
          (this.selectingOption === "back" ||
            this.selectingOption === "home") &&
          this.isSaidTimeCountBuffer > 1
        ) {
          dialog += `You are back to the home page now. `;
          dialog += `You can use arrow keys to select. `;
          dialog += `You are selecting time keeping mode. Press O K to confirm. `;
        }
      } else if (option === "started") {
        dialog += `The current time is `;
        dialog += this.timeStrToDialog(
          this.toTimeString(this.currentTime.hour, this.currentTime.minute)
        );
        dialog += this.currentTime.isAM ? " a m . " : " p m . ";
        dialog += ` You can press O K to back to home page. `;
      } else if (option === "report") {
        dialog += `You are ${
          this.currentQuestion.isCorrect ? "Correct" : "Worng"
        }. `;
        dialog += this.currentQuestion.isCorrect
          ? ""
          : `The correct answer is ${this.timeStrToDialog(
              this.toTimeString(
                this.currentQuestion.answer.hour,
                this.currentQuestion.answer.minute
              )
            )}. `;
        dialog += `You can use arrow keys to select. `;
        dialog += `You are selecting , ${this.selectingOption}. Press O K to ${this.selectingOption}. `;
      }
      this.speak(dialog);
    }
  },
  created() {
    window.addEventListener("keyup", this.routeKeyUpAction);
  },
  destroyed() {
    window.removeEventListener("keyup", this.routeKeyUpAction);
  }
};
</script>