<template>
  <q-page class="TimeTelling">
    <div class="screen menu"
         v-if="currentScreen === 'menu'">
      <div class="text-h1">Time Telling</div>
      <div class="select-wrapper">
        <div class="text-h1 mode-option"
             :class="{'isSelectingOption':(selectingOption === 'start')}">Start</div>
        <div class="text-h1 mode-option"
             :class="{'isSelectingOption':(selectingOption === 'back')}">Back</div>
      </div>
    </div>
    <div class="screen game"
         v-if="currentScreen === 'game'">
      <div class="text-h2">What is the time of {{toTimeString(currentQuestion.secondTime.hour, currentQuestion.secondTime.minute)}} {{(currentQuestion.sign === "+") ? "after" : "before"}} {{toTimeString(currentQuestion.firstTime.hour, currentQuestion.firstTime.minute)}} ?</div>
      <div class="select-wrapper">
        <div class="row">
          <div class="col-3"><span class="choice-label"
                  :class="{'isSelectingOption':(selectingOption === currentQuestion.choices[0])}">{{currentQuestion.choices[0]}}</span></div>
          <div class="col-3"><span class="choice-label"
                  :class="{'isSelectingOption':(selectingOption === currentQuestion.choices[1])}">{{currentQuestion.choices[1]}}</span></div>
          <div class="col-3"><span class="choice-label"
                  :class="{'isSelectingOption':(selectingOption === currentQuestion.choices[2])}">{{currentQuestion.choices[2]}}</span></div>
          <div class="col-3"><span class="choice-label"
                  :class="{'isSelectingOption':(selectingOption === currentQuestion.choices[3])}">{{currentQuestion.choices[3]}}</span></div>
        </div>
      </div>
    </div>
    <div class="report screen"
         v-if="currentScreen === 'report'">
      <div class="text-h1 result-label">{{(currentQuestion.isCorrect ? "Correct" : "Wrong")}}</div>
      <div class="text-h1 answer-label">{{toTimeString(currentQuestion.answer.hour, currentQuestion.answer.minute)}}</div>
      <div class="select-wrapper">
        <div class="text-h1 mode-option"
             :class="{'isSelectingOption':(selectingOption === 'next')}">Next</div>
        <div class="text-h1 mode-option"
             :class="{'isSelectingOption':(selectingOption === 'home')}">Home</div>
      </div>
    </div>
  </q-page>
</template>

<style lang="sass" scoped>
.menu, .game, .report
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
.select-wrapper
  width: 100%
  display: flex
  align-items: center
  flex-direction: row
.mode-option
  width: 80%
  margin-top: 3rem
  margin-bottom: 3rem
  text-align: center
.isSelectingOption
  border-style: solid
  border-color: red
  border-width: 5px
.game.screen
  .select-wrapper
    .row
      width: 100%
      .col-3
        display: flex
        justify-content: center
.choice-label
  font-size: 4rem
</style>

<script>
export default {
  name: "TimeTelling",
  data() {
    return {
      currentScreen: "menu",
      selectingOption: "start",
      options: {
        menu: ["start", "back"],
        report: ["next", "home"]
      },
      currentQuestion: {
        firstTime: { hour: 0, minute: 0 },
        secondTime: { hour: 0, minute: 0 },
        sign: "",
        answer: { hour: 0, minute: 0 },
        choices: ["", "", "", ""],
        userAnswer: { hour: 0, minute: 0 },
        isCorrect: false
      }
    };
  },
  methods: {
    confirmSelect() {
      switch (this.selectingOption) {
        case "start":
          this.gotoScreen("game");
          break;
        case "back":
          this.gotoPage("/");
          break;
        case "next":
          this.gotoScreen("game");
          break;
        case "home":
          this.gotoPage("/");
          break;
        default:
          // for specific actions
          if (this.currentScreen === "game") {
            this.submitChoice();
          }
          return;
      }
    },
    moveSelect(keyCode) {
      let currentModeOptions = [];

      switch (this.currentScreen) {
        case "menu":
          currentModeOptions = this.options["menu"];
          break;
        case "game":
          currentModeOptions = this.currentQuestion.choices;
          break;
        case "report":
          currentModeOptions = this.options["report"];
          break;
        default:
          return;
      }
      if (keyCode === "ArrowLeft") {
        if (currentModeOptions.indexOf(this.selectingOption) === 0) {
          this.selectingOption =
            currentModeOptions[currentModeOptions.length - 1];
        } else {
          this.selectingOption =
            currentModeOptions[
              (currentModeOptions.indexOf(this.selectingOption) - 1) %
                currentModeOptions.length
            ];
        }
        console.log(this.selectingOption);
      } else {
        this.selectingOption =
          currentModeOptions[
            (currentModeOptions.indexOf(this.selectingOption) + 1) %
              currentModeOptions.length
          ];
      }
      // force selectingOption to string
      // this.selectingOption += "";
    },
    routeKeyUpAction(e) {
      switch (e.code) {
        case "Space":
          this.confirmSelect();
          this.talkUI("confirm");
          break;
        case "ArrowLeft":
          this.moveSelect(e.code);
          this.talkUI("select");
          break;
        case "ArrowRight":
          this.moveSelect(e.code);
          this.talkUI("select");
          break;
        default:
          return;
      }
    },
    gotoPage(url) {
      this.$router.push(url);
    },
    gotoScreen(screenName) {
      this.currentScreen = screenName;
      // specific actions for new screen
      switch (screenName) {
        case "game":
          this.startGame();
          break;
        default:
          // Default init the options array for new screen
          this.selectingOption = this.options[screenName][0];
      }
    },
    randomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    toTimeString(h, m) {
      return (h < 10 ? "0" : "") + h + ":" + (m < 10 ? "0" : "") + m;
    },
    toTimeObj(timeStr) {
      return {
        hour: parseInt(timeStr.split(":")[0]),
        minute: parseInt(timeStr.split(":")[1])
      };
    },
    isIn(t, a) {
      return a.indexOf(t) !== -1;
    },
    calTime(firstTime, sign, secondTime) {
      const answer = { hour: 0, minute: 0 };
      let isHourOverflow = false;
      let isMinuteOverflow = false;

      if (sign === "+") {
        answer.hour = firstTime.hour + secondTime.hour;
        answer.minute = firstTime.minute + secondTime.minute;
        isMinuteOverflow = answer.minute > 59;
        if (isMinuteOverflow) {
          answer.hour++;
          answer.minute -= 60;
        }
        isHourOverflow = answer.hour > 12;
        if (isHourOverflow) {
          answer.hour -= 12;
        }
      } else {
        answer.hour = firstTime.hour - secondTime.hour;
        answer.minute = firstTime.minute - secondTime.minute;
        isMinuteOverflow = answer.minute < 0;
        if (isMinuteOverflow) {
          answer.hour--;
          answer.minute += 60;
        }
        isHourOverflow = answer.hour < 1;
        if (isHourOverflow) {
          answer.hour += 12;
        }
      }
      return answer;
    },
    generateQuestion() {
      let tempAnswerStr = "";

      this.currentQuestion.firstTime = {
        hour: this.randomInt(1, 12),
        minute: this.randomInt(0, 59)
      };
      this.currentQuestion.secondTime = {
        hour: this.randomInt(1, 12),
        minute: this.randomInt(0, 59)
      };
      this.currentQuestion.sign = this.randomInt(0, 1) ? "+" : "-";
      // generate answer
      this.currentQuestion.answer = this.calTime(
        this.currentQuestion.firstTime,
        this.currentQuestion.sign,
        this.currentQuestion.secondTime
      );
      tempAnswerStr = this.toTimeString(
        this.currentQuestion.answer.hour,
        this.currentQuestion.answer.minute
      );
      // generate fake choices
      for (let i = 0; i < 4; i++) {
        let choice = "";

        do {
          choice = this.toTimeString(
            this.randomInt(1, 12),
            this.randomInt(0, 59)
          );
        } while (
          choice === tempAnswerStr ||
          this.isIn(choice, this.currentQuestion.choices)
        );
        this.currentQuestion.choices[i] = choice;
      }
      // put real answer in choices
      this.currentQuestion.choices[this.randomInt(0, 3)] = tempAnswerStr;
    },
    startGame() {
      this.generateQuestion();
      this.selectingOption = this.currentQuestion.choices[0];
      this.talkUI("started");
    },
    isSameTime(firstTime, secondTime) {
      return (
        firstTime.hour === secondTime.hour &&
        firstTime.minute === secondTime.minute
      );
    },
    submitChoice() {
      //TODO: submit
      this.currentQuestion.userAnswer = this.toTimeObj(this.selectingOption);
      this.currentQuestion.isCorrect = this.isSameTime(
        this.currentQuestion.answer,
        this.currentQuestion.userAnswer
      );
      this.gotoScreen("report");
      this.talkUI("report");
    },
    speak(dialog = "", utteranceConfig = {}) {
      // Create an utterance object
      let utterance = new SpeechSynthesisUtterance(dialog);

      // Set utterance properties
      utterance.voice = voice;
      utterance.pitch = utteranceConfig.pitch || 1.5;
      utterance.rate = utteranceConfig.rate || 1.25;
      utterance.volume = utteranceConfig.volume || 0.8;

      // Speak the utterance
      synthesis.speak(utterance);
      console.log(dialog);
    },
    getQuestionDialog(firstTime, sign, secondTime) {
      let dialog = "";

      dialog += "What is the time of ";
      dialog += `${humanizeInt(parseInt(secondTime.hour))}  ${humanizeInt(
        parseInt(secondTime.minute)
      )} `;
      dialog += sign === "+" ? "after " : "before ";
      dialog += `${humanizeInt(parseInt(firstTime.hour))}  ${humanizeInt(
        parseInt(firstTime.minute)
      )} ? `;
      return dialog;
    },
    timeStrToDialog(timeStr) {
      return `${humanizeInt(this.toTimeObj(timeStr).hour)} ${humanizeInt(
        this.toTimeObj(timeStr).minute
      )}`;
    },
    talkUI(option = "") {
      let dialog = "";

      if (option === "select") {
        if (this.currentScreen === "menu" || this.currentScreen === "report") {
          dialog += `You are selecting , ${this.selectingOption}. Press O K to ${this.selectingOption}. `;
        } else if (this.currentScreen === "game") {
          dialog += `You are selecting , ${this.timeStrToDialog(
            this.selectingOption
          )}. Press O K to confirm. `;
        }
      } else if (option === "confirm") {
        if (
          this.selectingOption === "back" ||
          this.selectingOption === "home"
        ) {
          dialog += `You are back to the home page now. `;
          dialog += `You can use arrow keys to select. `;
          dialog += `You are selecting time keeping mode. Press O K to confirm. `;
        }
      } else if (option === "started") {
        dialog += `Game started. `;
        dialog += `Please answer the question by selecting the choice. `;
        dialog += `You can use arrow keys to select. `;
        dialog += this.getQuestionDialog(
          this.currentQuestion.firstTime,
          this.currentQuestion.sign,
          this.currentQuestion.secondTime
        );
        dialog += `You are selecting , ${this.timeStrToDialog(
          this.selectingOption
        )}. Press O K to confirm. `;
      } else if (option === "report") {
        dialog += `You are ${
          this.currentQuestion.isCorrect ? "Correct" : "Worng"
        }. `;
        dialog += this.currentQuestion.isCorrect
          ? ""
          : `The correct answer is ${this.timeStrToDialog(
              this.toTimeString(
                this.currentQuestion.answer.hour,
                this.currentQuestion.answer.minute
              )
            )}. `;
        dialog += `You can use arrow keys to select. `;
        dialog += `You are selecting , ${this.selectingOption}. Press O K to ${this.selectingOption}. `;
      }
      this.speak(dialog);
    }
  },
  created() {
    window.addEventListener("keyup", this.routeKeyUpAction);
  },
  destroyed() {
    window.removeEventListener("keyup", this.routeKeyUpAction);
  }
};
</script>