<!DOCTYPE html>
<html>
  <head>
    <!--<title><%= htmlWebpackPlugin.options.productName %></title>-->
    <title>Haptic Learning App</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="statics/icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>

    <script>
      if ('speechSynthesis' in window) {
        var synthesis = window.speechSynthesis;
        // Regex to match all English language tags e.g en, en-US, en-GB
        var langRegex = /^en(-[a-z]{2})?$/i;
        // Get the available voices and filter the list to only have English speakers
        var voices = synthesis.getVoices().filter(voice => langRegex.test(voice.lang));

        // Log the properties of the voices in the list
        voices.forEach(function(voice) {
          console.log({
            name: voice.name,
            lang: voice.lang,
            uri: voice.voiceURI,
            local: voice.localService,
            default: voice.default
          })
        });

        // Get the first `en` language voice in the list
        var voice = synthesis.getVoices().filter(function(voice) {
          return voice.lang === 'en-US';
        })[0];
      } else {
        console.log('Text-to-speech not supported.');
      }
      function humanizeInt(num){
        var ones = ['', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine',
                    'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen',
                    'seventeen', 'eighteen', 'nineteen'];
        var tens = ['', '', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty',
                    'ninety'];

        var numString = num.toString();

        if (num < 0) throw new Error('Negative numbers are not supported.');

        if (num === 0) return 'zero';

        //the case of 1 - 20
        if (num < 20) {
          return ones[num];
        }

        if (numString.length === 2) {
          return tens[numString[0]] + ' ' + ones[numString[1]];
        }

        //100 and more
        if (numString.length == 3) {
          if (numString[1] === '0' && numString[2] === '0')
            return ones[numString[0]] + ' hundred';
          else
            return ones[numString[0]] + ' hundred and ' + convert(+(numString[1] + numString[2]));
        }

        if (numString.length === 4) {
          var end = +(numString[1] + numString[2] + numString[3]);
          if (end === 0) return ones[numString[0]] + ' thousand';
          if (end < 100) return ones[numString[0]] + ' thousand and ' + convert(end);
          return ones[numString[0]] + ' thousand ' + convert(end);
        }
      }
    </script>
  </body>
</html>
